<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 
	这是Info.plist需要添加的权限配置示例
	请将下面的权限添加到你的Info.plist文件中
	-->
	
	<!-- 位置权限 - 使用App时 -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要您的位置信息来记录照片拍摄地点</string>
	
	<!-- 相机权限 -->
	<key>NSCameraUsageDescription</key>
	<string>我们需要访问相机来拍摄旅行照片</string>
	
	<!-- 相册权限 -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问相册来选择照片</string>
	
	<!-- 
	可选：如果需要后台位置更新
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要您的位置信息来自动追踪您的旅行路线</string>
	-->
	
	<!-- 
	可选：如果需要保存照片到相册
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>允许保存照片到您的相册</string>
	-->
</dict>
</plist>
